*
    font-family "Proxima Nova"

@import "blocks/*"

/* Filtros */

ul
	list-style: none
	margin: 0

a
    text-decoration: underline

.active
    text-decoration: none
    color: #000000


/* ids */

#contentData
	padding: 0

/* clases */

.dataTables_info
    float: left	

.dataTables_paginate
	float: right

.paginate_button
	padding: 0.5em 1em
	color: -webkit-link