.search-form
      input(type='text', name='search', id='search', onpaste="return false", oninput="this.value = this.value.replace (/[ \\\\ $ % / ]/, '');")
      input(type='submit', value='Buscar', onclick="SearchForm()")
